{{ $packages := list 
  "curl"
  "openssh-server"
  "zsh"
  "git"
  "build-essential"  -}}


{{ $sudo := "sudo " -}}
{{ if eq .chezmoi.username "root" -}}
  {{ $sudo = "" -}}
{{ end -}}


#!/bin/bash

set -eufo pipefail

{{ $sudo }}apt-get update
{{ $sudo }}apt-get install -y {{ $packages | join " " }}



# install mise
if ! command -v mise & > /dev/null; then
  curl https://mise.run | sh
fi

export PATH="$PATH:$HOME/.local/bin"
